# namespace
apiVersion: v1
kind: Namespace
metadata:
  name: frontend
---
# deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      # run on node named paas
      nodeSelector:
        kubernetes.io/hostname: paas
      imagePullSecrets:
        - name: ecr-secret
      containers:
      - name: frontend
        # backend/backend-deployment.yml
        image: $FRONTEND_REGISTRY/$FRONTEND_IMAGE:$GIT_SHA
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: BACKEND_URL
          value: "http://backend-service.backend.svc.cluster.local:8000"

