# dedicated ns for be
apiVersion: v1
kind: Namespace
metadata:
  name: backend
---
# deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      # run on 'paas'
      nodeSelector:
        kubernetes.io/hostname: paas
      imagePullSecrets:
        - name: ecr-secret
      containers:
      - name: backend
        image: $BACKEND_REGISTRY/$BACKEND_IMAGE:$GIT_SHA
        imagePullPolicy: Always
        ports:
        - containerPort: 8000

